<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="'/home'">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="body">
    <div class="container">
      <p class="heading">Crear Evento</p>
      <form [formGroup]="createEventForm" (ngSubmit)="onSubmit()">
        <ion-grid>
          <ion-row>
            <ion-col>
              <app-event-type-list [control]="typeEvent"
                (eventTypeSelected)="onEventTypeSelected($event)"></app-event-type-list>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <app-input [control]="description" [label]="'Descripción'" [placeholder]="'Introduce una descripción'"
                [type]="'text'" [fill]="'outline'">
              </app-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <app-input [control]="date" [label]="'Fecha del evento'" [placeholder]="'Selecciona una fecha'"
                [type]="'date'" [fill]="'outline'">
              </app-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <app-input [control]="duration" [label]="'Duración (en horas)'" [placeholder]="'Indica la duración'"
                [type]="'number'" [fill]="'outline'">
              </app-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <app-input [control]="direccion" [label]="'Dirección'" [placeholder]="'Introduce la dirección'"
                [type]="'text'" [fill]="'outline'">
              </app-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <app-input [control]="specialRequirements" [label]="'Requisitos Especiales'"
                [placeholder]="'Especifica los requisitos'" [type]="'text'" [fill]="'outline'">
              </app-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <app-input [control]="numberOfAttendees" [label]="'Número de Asistentes'"
                [placeholder]="'Número máximo de asistentes'" [type]="'number'" [fill]="'outline'">
              </app-input>
            </ion-col>
          </ion-row>
        </ion-grid>

        <app-button expand="block" type="submit" value="Crear Evento"></app-button>
      </form>
    </div>
  </div>
</ion-content>