.body {
    --clr: #58bc82;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.container {
    max-width: 350px;
    background: linear-gradient(0deg, rgb(37, 37, 37) 0%, rgb(37, 37, 37) 100%);
    border-radius: 40px;
    padding: 25px 35px;
    border: 5px solid var(--clr);
    box-shadow: rgba(133, 215, 133, 0.878) 0px 30px 30px -20px;
    margin: 20px;
}

.animation {
    margin-top: 2vw;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.heading {
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    color: var(--clr);
}

.form {
    margin-top: 20px;
}

.form .forgot-password {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
}

.form .forgot-password a {
    font-size: 11px;
    color: var(--clr);
    text-decoration: none;
}

.agreement {
    display: block;
    text-align: center;
    margin-top: 15px;
}

.agreement a {
    text-decoration: none;
    color: var(--clr);
    font-size: 9px;
}