<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
    <ion-buttons slot="end">
      <!-- Botón para ir al perfil -->
      <ion-button [routerLink]="'/profile'">
        <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
      </ion-button>

      <!-- Botón para crear un evento -->
      <ion-button [routerLink]="'/event'">
        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
      </ion-button>

      <ion-button (click)="showPopover($event)">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <app-event></app-event>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
</ion-content>
