<ion-header>
  <ion-toolbar>
    <ion-title>Perfil de Usuario</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="body">
    <ion-card class="container">
      <ion-card-header>
        <ion-card-title class="heading">{{ user?.name }}  {{user?.lastName}}</ion-card-title>
        <ion-text>{{ user?.userType }}</ion-text>
      </ion-card-header>

      <ion-card-content>
        <ion-item class="item">
          <ion-label>Email</ion-label>
          <ion-text>{{ user?.email }}</ion-text>
        </ion-item>

        <ion-item class="item">
          <ion-label>Phone</ion-label>
          <ion-text>{{ user?.phone || 'No disponible' }}</ion-text>
        </ion-item>

        <ion-item class="item">
          <ion-label>Date of birth</ion-label>
          <ion-text>{{ user?.birthDate || 'No disponible' }}</ion-text>
        </ion-item>
      </ion-card-content>
    </ion-card>



    <!-- Eventos -->
    <div class="events-container">
      <ion-card *ngFor="let event of userEvents">
        <ion-card-header>
          <ion-card-title class="heading">{{ event.typeEvent }}</ion-card-title>
          <ion-card-subtitle>{{ event.date | date }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <p class="item">{{ event.description }}</p>
          <p class="item"><strong>Dirección:</strong> {{ event.direccion }}</p>
          <p class="item"><strong>Duración:</strong> {{ event.duration }}</p>
          <p class="item"><strong>Requisitos Especiales:</strong> {{ event.specialRequirements }}</p>
          <p class="item"><strong>Asistentes:</strong> {{ event.numberOfAttendees }}</p>
          <app-button type="submit" value="Delete" (click)="deleteEvent(event.eventID)"></app-button>
          <app-button  value="Update" (click)="goToUpdateEvent(event.eventID)"></app-button>
        </ion-card-content>
      </ion-card>
    </div>
  </div>


</ion-content>